// out: style.css, sourcemap: true, compress: true

@light-border-color:#ddd;
@dark-border-color:#888;

.cp-container {
    overflow: auto;
    //width:100%;

    & table {
        width:100%;
        table-layout: fixed;
        border-collapse: collapse;
        border: 1px solid @dark-border-color;
    }

    & table thead th, table tbody td, table tfoot td {
        width:300px;
    }

    & table thead th {
        border: 1px solid @dark-border-color;
    }

    &  table td, table th {
        padding: 10px;
        background-clip: padding-box;
    }

    & .cp-best {
        background-color: #D9FCD4;
    }

}

.cp-table {

    position: relative;

    & .cp-crit {
        font-weight:bold;
        position: relative;
        background-clip: padding-box;
    }

    & .cp-weight, .cp-score {
        text-align: right;
        width: 50px;
    }

    & .cp-descr {
        font-size: 0.9em;
        border-left: 1px solid @dark-border-color;
    }

    & .cp-lbl-score {
        border-left: 1px solid @dark-border-color;
    }

    & tbody {
        & tr:nth-child(4n + 1) td, tr:nth-child(4n + 2) td, tr:nth-child(4n + 1) th, tr:nth-child(4n + 2) th {
            background-color: #eee;
            background-clip: padding-box;
        }
        & tr:nth-child(4n + 3) td, tr:nth-child(4n + 4) td, tr:nth-child(4n + 3) th, tr:nth-child(4n + 4) th {
            background: #fff;
            background-clip: padding-box;
        }

    }

    & .cp-menu {
        position:absolute;
        right:10px;
        top:5px;
        padding: 5px;
        background-color: #fff;
        border:1px solid @light-border-color;
        box-shadow: 0px 0px 2px 2px #eee;
        & span:first-child {
            margin-left: 0;
        }

        & span {
            margin-left: 10px;
            cursor: pointer;
        }
    }
}

.cp-table thead {
    & th:first-child {
    }

    & th {
        position:relative;
    }
}

.cp-table tbody {
    & th {
        text-align: right;
        font-weight: normal;
    }

    & tr {
        position:relative;
    }
}

.cp-table tfoot {
    & td {
        text-align: right;
        border-top: 1px solid @dark-border-color;
        border-left: 1px solid @dark-border-color;
    }

    & .cp-total {
        width: 50px;
        border-left: 0px;
    }

}

.cp-tbl-total {
    & th, td {
        border: 1px solid @dark-border-color;
    }

    & tbody th {
        text-align: left;
    }

    & td {
        text-align: center;
    }
}
